@charset "utf-8";

body {
  margin: 50px;
}
.btn
{
margin-bottom:50px;}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 10px solid #000;
  background: yellow;
  transition: all 500ms 0ms cubic-bezier(0,.25,.76,-0.92);
  /* transition-property: border-radius, background, transform;
  transition-duration: 500ms,1000ms, 500ms;
  transition-delay: 0ms, 500ms, 1000ms ;
  transition-timing-function: cubic-bezier(0,.25,.76,-0.92); */
}

.box-act{
  border-radius: 50%;
  background: pink;
  transform: rotate(360deg) scale(0.5);
}

